/* Phần tử chứa danh sách sản phẩm */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Nút "Xem tất cả" */
.view-all-button {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
}

.view-all-button:hover {
  transform: translate(5px, -5px);
}

/* Style cho mỗi sản phẩm */
.product-list li {
  list-style: none;
  background-color: #d8ecb8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% 2px;
}

.product-list img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.product-list img:hover {
  transform: scale(1.1);
}

.product-list h3 {
  margin-top: 10px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-list p {
  margin: 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

/* Các thuộc tính hiện có của nút add to cart */
.product-list button {
  width: 110px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(151, 232, 152);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.product-list button .IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.product-list button .icon {
  border-radius: 1px;
}

.product-list button .text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 0.7em;
  font-weight: 600;
}

.product-list button:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.product-list button:hover .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
}

.product-list button:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

.product-list button:hover {
  background-color: #45a049;
}
  // nút xem chi tiết 
  .Deltai {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: hsl(255deg 50% 40%);
    border: solid 4px hsl(50deg 100% 50%);
    font-family: inherit;
  }
  
  .Deltai .default-btn,
  .Deltai .hover-btn {
    background-color: hsl(255deg 50% 40%);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
  }
  
  .Deltai .hover-btn {
    position: absolute;
    inset: 0;
    background-color: hsl(255deg 50% 49%);
    transform: translateY(100%);
  }
  
  .Deltai .default-btn span {
    color: hsl(0, 0%, 100%);
  }
  
  .Deltai .hover-btn span {
    color: hsl(50deg 100% 50%);
  }
  
  .Deltai:hover .default-btn {
    transform: translateY(-100%);
  }
  
  .Deltai:hover .hover-btn {
    transform: translateY(0%);
  }  